<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Blog Application</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>My Blog Application</h1>
        <a href="/login">Login</a>
    </div>

    <div class="search">
        <form action="/posts/search" method="get">
            <input type="text" name="keyword" placeholder="Search posts...">
            <button type="submit">Search</button>
        </form>
        <select>
            <option>Filter</option>
        </select>
        <select>
            <option>Sort</option>
        </select>
    </div>

    <div class="posts">
        <div th:if="${#lists.isEmpty(posts)}">
            <p>No posts available.</p>
        </div>

        <div th:each="post : ${posts}" class="post">
            <a th:href="@{/post/{id}(id=${post.id})}" class ="post-link">
                <h3 th:text="${post.title}">Title</h3>
                <p><strong th:text="${post.author}">Author Name</strong>, <span th:text="${post.created_at}">Date</span></p>
                <p th:text="${post.excerpt}"></p>
                <p th:text="${post.content}">Lorem ipsum dolor sit amet...</p>
            </a>

            <div class="post-actions">
                <a th:href="@{/post/edit/{id}(id=${post.id})}" class="button edit">Edit</a>
                                <form th:action="@{/post/delete/{id}(id=${post.id})}" method="post">
                                    <button type="submit" class="button delete">Delete</button>
                                </form>
            </div>
        </div>
    </div>

    <div class="pagination">
        <a href="#">Previous</a>
        <a href="#">Next</a>
    </div>
</div>

</body>
</html>